# See https://help.github.com/ignore-files/ for more about ignoring files.

# Fastlane
.build
certs/
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# junk files
#
*~
*#
.#*
.DS_Store
gin-bin

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.ipa.meta
*.xcuserstate
project.xcworkspace
*.dSYM.zip
ios/tmp.xcconfig
ios-sourcemap.*
ios/main.jsbundle

# Android/IntelliJ
#
build/
.idea
.gradle
.settings/
.project
*.classpath

# local.properties
*.iml
android-sourcemap.*
*.hprof
android/main.jsbundle

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
lerna-debug.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Firebase
google-services.json

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# gradle (additionals)
android/app/build/
android/app/libs/
android/app/gradle/
android/app/gradlew
android/app/gradlew.bat

# fastlane (additionals)
fastlane/Appfile
fastlane/Matchfile

# Gomobile
android/app/libs/*.aar
android/app/libs/*-sources.jar
gomobile/vendor
gomobile/bin
gomobile/_vendor-*
gomobile/tags
android/libs/
ios/libs/

# mobile
shim.js

# GoGrpc framework
ios/core.framework
android/ble/libs/jars/ble.jar
android/core/core.aar

# Go template
.tmp/

# Optional eslint cache
.eslintcache

# VScode
jsconfig.json

# Cocoapods
/ios/Pods/

# certificates
*.ud.wulo.ios.p12

# package-lock.json files

# Environment
.env.*
!.env.development

# Fix code factor __generated__ exclude patterns
__generated__/

# osx
dist/
osx/Berty.app

# bazel
/bazel-*
