/go.mod

# core
core/.generated
core/.*.generated
android/core/core-sources.jar
gin-bin

#ag
.agignore
.env

# OSX
.DS_Store

# emacs
.projectile
*~
*#
.#*

# sub projects
/depviz/

# version
./package.json

# go
vendor/
