*#
*~
.#*
.DS_Store
.agignore
.env
.projectile
.tmp/
*.bin
/bazel-*
core-sources.jar
coverage.txt
dist/
gen.sum.tmp
gin-bin
out/
profile.out
vendor/
debug.log
/js/*.db.d

# Go CMD's build output
go/cmd/berty/berty
go/cmd/rdvp/rdvp
