# core
core/.generated
gin-bin
core/node_modules/
core/package-lock.json

#ag
.agignore
.env

# OSX
.DS_Store

# emacs
.projectile
*~
*#
.#*

# sub projects
/depviz/

# version
./package.json

# go
vendor/
