# To see the date when a version was updated, use git blame:
# https://github.com/berty/berty/blame/master/.tool-versions

#-----
# This is simply the most recent version available to date of the lowest
# major version of Go which is allowed by kubo.
# There is no contraindication for updating it.
#-----
golang 1.23.2

#-----
# This is the most recent LTS version available to date.
#
# In addition, from version 1.17 of node, a new version of OpenSSL is used and
# prevent our project from building.
# More info here: https://github.com/webpack/webpack/issues/14532
#-----
nodejs 22.8.0

#-----
# This is simply the most recent xcodegen version available to date.
# There is no contraindication for updating it.
#-----
xcodegen 2.29.0

#-----
# This is simply the most recent yarn version available to date.
# There is no contraindication for updating it.
#-----
yarn 1.22.19

#-----
# This is simply the most recent ruby version available to date.
# There is no contraindication for updating it.
#-----
ruby 3.2.2

#-----
# This is simply the most recent golangci-lint version available to date.
#
#-----
golangci-lint 1.61.0

#-----
# This is simply the most recent jq version available to date.
# There is no contraindication for updating it.
#-----
jq 1.6

#-----
# This is simply the most recent java openjdk version available to date.
# There is no contraindication for updating it.
#-----
java openjdk-17.0.2

#-----
# This is simply the most recent yq version available to date.
# There is no contraindication for updating it.
#-----
yq 4.30.8

#-----
# This is simply the most recent buf version available to date.
# There is no contraindication for updating it.
#-----
buf 1.39.0
