#-----
# golang 1.18.4 is simply the most recent version available to date (07/22).
# There is no contraindication for updating it.
#-----
golang 1.18.4

#-----
# node 16.16.0 is the most recent LTS version available to date (07/22).
#
# In addition, from version 1.17 of node, a new version of OpenSSL is used and
# prevent our project from building.
# More info here: https://github.com/webpack/webpack/issues/14532
#-----
nodejs 16.16.0

#-----
# xcodegen 2.29.0 is simply the most recent version available to date (07/22).
# There is no contraindication for updating it.
#-----
xcodegen 2.29.0

#-----
# yarn 1.22.19 is simply the most recent version available to date (07/22).
# There is no contraindication for updating it.
#-----
yarn 1.22.19

#-----
# ruby 3.1.3 is simply the most recent version available to date (02/23).
# There is no contraindication for updating it.
#-----
ruby 3.1.3

#-----
# golangci-lint 1.46.2 is simply the most recent version available to date (07/22).
#
# The current version of golangci-lint also has a problem displaying logs on
# Github actions, see: https://github.com/golangci/golangci-lint-action/issues/119
#
# It would be good to update it (when possible) to a version that fixes this log
# issue and to update the golangci-lint Github Actions step accordingly.
#-----
golangci-lint 1.50.1

#-----
# jq 1.6 is simply the most recent version available to date (07/22).
# There is no contraindication for updating it.
#-----
jq 1.6

#-----
# java openjdk-18.0.1.1 is simply the most recent version available to date (07/22).
# There is no contraindication for updating it.
#-----
java openjdk-18.0.1.1

#-----
# yq 4.30.8 is simply the most recent version available to date (02/23).
# There is no contraindication for updating it.
#-----
yq 4.30.8

#-----
# buf 1.14.0 is simply the most recent version available to date (02/23).
# There is no contraindication for updating it.
#-----
buf 1.14.0
