version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5
  docker:  circleci/docker@0.5.13
  gotools: gotest/tools@0.0.10
  moul:    moul/build@1.12.1

commands:
  js_save_cache:
    description: "save js cache"
    steps:
      - save_cache:
          key: v0-js-{{.Branch}}-{{.Revision}}
          paths:
            - ~/.cache
            - ~/go/src/berty.tech/js/node_modules

  js_restore_cache:
    description: "restore js cache"
    steps:
      - restore_cache:
          keys:
            - v0-js-{{.Branch}}-{{.Revision}}
            - v0-js-{{.Branch}}-
            - v0-js-master-
            - v0-js-

jobs:
  go-build-112:
    working_directory: /go/src/berty.tech/go
    environment:
      - GO111MODULE=on
    docker:
      - image: circleci/golang:1.12
    steps:
      - checkout:
          path: /go/src/berty.tech
      - moul/mod-download
      - gotools/mod-tidy-check
      - run: make go.install
      - run: make go.unittest GO_TEST_OPTS="-v -test.timeout=120s"
      - run: make tidy
      - moul/install_golangci-lint
      - run: PATH=$PATH:$(pwd)/bin make lint
      - codecov/upload:
          file: coverage.txt
  go-docker:
    working_directory: /go/src/berty.tech/go
    docker:
      - image: docker:18.06.3-ce-git
    steps:
      - checkout:
          path: /go/src/berty.tech
      - setup_remote_docker:
          docker_layer_caching: true
      - docker/build:
          image: berty/berty
  go-generate:
    working_directory: /go/src/berty.tech
    docker:
      - image: bertytech/protoc:20
    environment:
      - GO111MODULE=on
    steps:
      - checkout
      - run: find . -name gen.sum -delete
      - run: cd go && go mod vendor
      - run: cd go && make generate_local && make tidy
      - run: cd docs && make generate_local
      - run: |
          git status | cat
          git diff -w | cat
          git diff-index -w --quiet HEAD --

  js-generate:
    working_directory: /go/src/berty.tech
    docker:
      - image: bertytech/protoc:20
    steps:
      - checkout
      - js_restore_cache
      - run: cd js && (git diff --quiet master . && make deps) || true
      - run: cd js && (git diff --quiet master ../api . && make gen.clean gen) || true
      - run: |
          git status | cat
          git diff -w | cat
          git diff-index -w --quiet HEAD --
      - js_save_cache

  js-lint:
    working_directory: /go/src/berty.tech
    docker:
      - image: bertytech/protoc:20
    steps:
      - checkout
      - js_restore_cache
      - run: cd js && (git diff --quiet master . && make deps) || true
      - run: cd js && (git diff --quiet master . && make lint) || true
      - run: |
          git status | cat
          git diff -w | cat
          git diff-index -w --quiet HEAD --
      - js_save_cache

  githooks:
    working_directory: /go/src/berty.tech
    docker:
      - image: bertytech/githooks:v1
    steps:
      - checkout
      - run: ./githooks/pre-commit
      - run: |
          git status | cat
          git diff -w | cat
          git diff-index -w --quiet HEAD --

  bazel-go-build:
    working_directory: /go/src/berty.tech
    docker:
      - image: bertytech/bazel:0.29.1-buster-r0
    steps:
      - checkout
      - run: cd go && BAZEL_CMD_ARGS="--sandbox_debug --jobs=2 --local_ram_resources=HOST_RAM*.5" make bazel.build

  bazel-go-test:
    working_directory: /go/src/berty.tech
    docker:
      - image: bertytech/bazel:0.29.1-buster-r0
    steps:
      - checkout
      - run: cd go && BAZEL_CMD_ARGS="--sandbox_debug --test_output=errors --jobs=2 --local_ram_resources=HOST_RAM*.5" make bazel.unittest
      - run:
          name: extract test results
          command: find -L ./go/bazel-testlogs -name '*.xml' -exec mkdir -p /tmp/test-results/{} \; -exec cp {} /tmp/test-results/{} \;
          when: always
      - store_test_results:
          path: /tmp/test-results/go/bazel-testlogs

  bazel-banner:
    working_directory: /go/src/berty.tech
    docker:
      - image: bertytech/bazel:0.29.1-buster-r0
    steps:
      - checkout
      - run: cd go && BAZEL_CMD_ARGS="--sandbox_debug --jobs=2 --local_ram_resources=HOST_RAM*.5" make bazel.banner

workflows:
  main:
    jobs:
      - go-build-112
      - go-docker
      - go-generate
      - js-generate
      - js-lint
      - githooks
      - bazel-go-build
      - bazel-go-test
      - bazel-banner
