version: 2

.golang_workspace: &golang_workspace
  working_directory: /go/src/berty.tech
  environment:
    GOPATH: /go
    GOTEST_TIMEOUT: 5m
  docker:
    - image: circleci/golang:latest

jobs:
  lint:
    docker:
      - image: bertychat/linter:latest
    working_directory: /go/src/berty.tech
    environment:
      GOPATH: /go
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-go-cache
      - run:
          name: prepare CI
          command: |
            make _ci_prepare
      - run:
          name: lint
          command: make lint
      - save_cache:
          key: v1-go-cache
          paths:
            - "/go/pkg"

  generate:
    docker:
      - image: bertychat/protoc:latest
    working_directory: /go/src/berty.tech
    environment:
      GOPATH: /go
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: cleanup existing generated files
          command: |
            cd core
            make clean
      - run:
          name: make generate_local
          command: |
            cd core
            make generate_local
      - run:
          name: check if files changed
          command: |
            git status | cat
            git diff | cat
            git diff-index --quiet HEAD --

  docker.build:
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          keys:
            - v1-docker-berty
          paths:
            - /caches/berty.tar
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i /caches/berty.tar | true
      - run:
          name: Build application Docker image
          command: |
            docker build --cache-from=berty -t berty .
      - run:
          name: Run application within Docker
          command: |
            docker run --rm berty daemon --init-only --no-p2p
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/berty.tar berty
      - save_cache:
          key: v1-docker-berty
          paths:
            - /caches/berty.tar

  core.go.test:
    <<: *golang_workspace
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-go-cache
      - run:
          name: prepare CI
          command: |
            make _ci_prepare
            mkdir -p /tmp/test-results
            go get github.com/jstemmer/go-junit-report
      - run:
          name: install openssl 1.0.x
          command: |
            sudo apt-get update
            sudo apt-get install libssl1.0-dev
      - run:
          name: install core
          command: |
            cd core
            make install
      - run:
          name: test core
          command: |
            cd core
            TEST_SLEEP_BETWEEN_STEPS=1s make test | tee /tmp/test-results/go-test-report.out
      - run:
          name: test client (bot)
          command: |
            cd client/go
            go test -v ./... | tee /tmp/test-results/go-test-report.out
            go install -v ./...
      - run:
          name: integration core
          command: |
            cd core
            make integration
      - run:
          name: junit-report
          command: |
            go-junit-report < /tmp/test-results/go-test-report.out > /tmp/test-results/go-test-report.xml
      - save_cache:
          key: v1-go-cache
          paths:
            - "/go/pkg"
      - store_test_results:
          path: /tmp/test-results

  client.rn.node:
    working_directory: ~/go/src/berty.tech
    docker:
      - image: circleci/node:8
    steps:
      - checkout

      - restore_cache:
          key: yarn-v1-{{ checksum "client/react-native/yarn.lock" }}-{{ arch }}

      - restore_cache:
          key: node-v1-{{ checksum "client/react-native/package.json" }}-{{ arch }}

      - run: cd client/react-native && make deps

      - save_cache:
          key: yarn-v1-{{ checksum "client/react-native/yarn.lock" }}-{{ arch }}
          paths:
            - ~/.cache/yarn

      - save_cache:
          key: node-v1-{{ checksum "client/react-native/package.json" }}-{{ arch }}
          paths:
            - node_modules

      - persist_to_workspace:
          root: ~/go/src/berty.tech
          paths:
            - client/react-native/node_modules
            - client/react-native/gomobile/node_modules
            - client/react-native/common/node_modules
            - client/react-native/mobile/node_modules

  client.rn.android:
    working_directory: ~/go/src/berty.tech/client/react-native/mobile/android
    docker:
      - image: bertychat/android-ci:latest
    steps:
      - checkout:
          path: ~/go/src/berty.tech/

      - attach_workspace:
          at: ~/go/src/berty.tech/

      - run:
          name: setup golang environment
          command: |
            ~/go/src/berty.tech/.circleci/paths_changed ^client ^.circle || exit 0
            echo "export PATH=/usr/local/go/bin/:~/go/bin:$PATH" >> $BASH_ENV

      - run:
          name: gomobile android build
          command: |
            ~/go/src/berty.tech/.circleci/paths_changed ^client ^.circle || exit 0
            env && cd ../../gomobile && make core.build.android

      - restore_cache:
          key: android-gems-{{ checksum "~/go/src/berty.tech/client/react-native/mobile/android/Gemfile.lock" }}

      - run:
          name: install bundle
          command: |
            ~/go/src/berty.tech/.circleci/paths_changed ^client ^.circle || exit 0
            bundle check || bundle install --path vendor/bundle

      - save_cache:
          key: android-gems-{{ checksum "~/go/src/berty.tech/client/react-native/mobile/android/Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: build app
          command: |
            ~/go/src/berty.tech/.circleci/paths_changed ^client ^.circle || exit 0
            time bundle exec fastlane android beta

  client.rn.ios:
    working_directory: ~/go/src/berty.tech
    macos:
      xcode: "9.4.1"
    environment:
      FL_OUTPUT_DIR: output
    shell: /bin/bash --login -o pipefail
    steps:
      - run:
          name: set Ruby version
          command:  echo "ruby-2.4" > ~/.ruby-version

      - checkout

      - attach_workspace:
          at: ~/go/src/berty.tech/

      - restore_cache:
          key: ios-golang-{{ .Environment.GOVERSION }}-2

      - run:
          name: install-go
          command: |
            ~/go/src/berty.tech/.circleci/paths_changed ^client ^.circle || exit 0
            if [ ! -f ~/go-install/go/bin/go ]; then
              cd ~ && git clone https://github.com/udhos/update-golang
              cd ~/update-golang && mkdir ~/go-install && sudo DESTINATION=~/go-install ./update-golang.sh
            fi
            echo "export PATH=~/go-install/go/bin/:~/go/bin:$PATH" >> $BASH_ENV

      - run:
          name: install gomobile
          command: |
            ~/go/src/berty.tech/.circleci/paths_changed ^client ^.circle || exit 0
            if [ ! -f ~/go/bin/gomobile ]; then
              go get golang.org/x/mobile/cmd/gomobile
              cd ~/go/src/golang.org/x/mobile
              git remote add upstream git@github.com:sfroment/mobile
              git fetch upstream
              git cherry-pick 1b1535a2ec50640fac08cd318cf1d557e198e94d
              go install golang.org/x/mobile/cmd/gomobile
              gomobile init
            fi

      - save_cache:
          key: ios-golang-{{ .Environment.GOVERSION }}-2
          paths:
            - ~/go
            - ~/go-install

      - run:
          name: install core
          working_directory: ~/go/src/berty.tech/client/react-native/gomobile
          command: |
            ~/go/src/berty.tech/.circleci/paths_changed ^client ^.circle || exit 0
            make core.build.ios

      - restore_cache:
          key: ios-gems-{{ checksum "~/go/src/berty.tech/client/react-native/mobile/ios/Gemfile.lock" }}-3

      - run:
          working_directory: ~/go/src/berty.tech/client/react-native/mobile/ios
          command: |
            ~/go/src/berty.tech/.circleci/paths_changed ^client ^.circle || exit 0
            bundle check || bundle install --path vendor/bundle

      - save_cache:
          key: ios-gems-{{ checksum "~/go/src/berty.tech/client/react-native/mobile/ios/Gemfile.lock" }}-3
          paths:
            - client/react-native/mobile/ios/vendor/bundle

      - run:
          name: build app
          working_directory: ~/go/src/berty.tech/client/react-native/mobile/ios
          command: |
            ~/go/src/berty.tech/.circleci/paths_changed ^client ^.circle || exit 0
            time bundle exec fastlane ios adhoc refresh_certificates:true use_temporary_keychain:true --verbose

  client.rn.web:
    working_directory: ~/go/src/berty.tech
    docker:
      - image: circleci/node:8
    steps:
      - checkout

      - attach_workspace:
          at: ~/go/src/berty.tech/


      - restore_cache:
          key: yarn-v1-{{ checksum "client/react-native/web/yarn.lock" }}-{{ arch }}

      - restore_cache:
          key: node-v1-{{ checksum "client/react-native/web/package.json" }}-{{ arch }}

      - run: cd client/react-native/web && yarn

      - save_cache:
          key: yarn-v1-{{ checksum "client/react-native/web/yarn.lock" }}-{{ arch }}
          paths:
            - ~/.cache/yarn

      - save_cache:
          key: node-v1-{{ checksum "client/react-native/web/package.json" }}-{{ arch }}
          paths:
            - node_modules

      - run:
          name: build web app
          working_directory: ~/go/src/berty.tech/client/react-native/web
          command: |
            yarn build

workflows:
  version: 2
  commit:
    jobs:
      - lint
      - generate
      - core.go.test
      - docker.build
      - client.rn.node
      - client.rn.android:
          requires:
            - client.rn.node
      - client.rn.ios:
          requires:
            - client.rn.node
      - client.rn.web:
          requires:
            - client.rn.node
