version: 2

.golang_workspace: &golang_workspace
  working_directory: /go/src/github.com/berty/berty
  environment:
    GOPATH: /go
    GOTEST_TIMEOUT: 1m
  docker:
    - image: circleci/golang:latest

jobs:
  lint:
    docker:
      - image: bertychat/linter:latest
    working_directory: /go/src/github.com/berty/berty
    environment:
      GOPATH: /go
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-go-cache
      - run:
          name: prepare CI
          command: |
            make _ci_prepare
      - run:
          name: lint
          command: make lint
      - save_cache:
          key: v1-go-cache
          paths:
            - "/go/pkg"

  docker.build:
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          keys:
            - v1-docker-berty
          paths:
            - /caches/berty.tar
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i /caches/berty.tar | true
      - run:
          name: Build application Docker image
          command: |
            docker build --cache-from=berty -t berty .
      - run:
          name: Run application within Docker
          command: |
            docker run --rm berty daemon --init-only
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/berty.tar berty
      - save_cache:
          key: v1-docker-berty
          paths:
            - /caches/berty.tar

  core.go.test:
    <<: *golang_workspace
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-go-cache
      - run:
          name: prepare CI
          command: |
            make _ci_prepare
            mkdir -p /tmp/test-results
            go get github.com/jstemmer/go-junit-report
      - run:
          name: install openssl 1.0.x
          command: |
            sudo apt-get update
            sudo apt-get install libssl1.0-dev
      - run:
          name: install core
          command: |
            cd core
            make install
      - run:
          name: test core
          command: |
            cd core
            TEST_SLEEP_BETWEEN_STEPS=1s make test | tee /tmp/test-results/go-test-report.out
      - run:
          name: test client (bot)
          command: |
            cd client/go
            go test -v ./... | tee /tmp/test-results/go-test-report.out
            go install -v ./...
      - run:
          name: integration core
          command: |
            cd core
            make integration
      - run:
          name: junit-report
          command: |
            go-junit-report < /tmp/test-results/go-test-report.out > /tmp/test-results/go-test-report.xml
      - save_cache:
          key: v1-go-cache
          paths:
            - "/go/pkg"
      - store_test_results:
          path: /tmp/test-results

  client.rn.node:
    working_directory: ~/go/src/github.com/berty/berty
    docker:
      - image: circleci/node:8
    steps:
      - checkout

      - restore_cache:
          key: yarn-v1-{{ checksum "client/react-native/yarn.lock" }}-{{ arch }}

      - restore_cache:
          key: node-v1-{{ checksum "client/react-native/package.json" }}-{{ arch }}

      - run: cd client/react-native && make deps

      - save_cache:
          key: yarn-v1-{{ checksum "client/react-native/yarn.lock" }}-{{ arch }}
          paths:
            - ~/.cache/yarn

      - save_cache:
          key: node-v1-{{ checksum "client/react-native/package.json" }}-{{ arch }}
          paths:
            - node_modules

      - persist_to_workspace:
          root: ~/go/src/github.com/berty/berty
          paths:
            - client/react-native/node_modules
            - client/react-native/gomobile/node_modules
            - client/react-native/common/node_modules
            - client/react-native/mobile/node_modules

  client.rn.android:
    working_directory: ~/go/src/github.com/berty/berty/client/react-native/mobile/android
    docker:
      - image: sfroment/test:lastest #Fix me when we get berty docker account
    steps:
      - checkout:
          path: ~/go/src/github.com/berty/berty/

      - attach_workspace:
          at: ~/go/src/github.com/berty/berty/

      - run:
          name: setup golang environment
          command: |
            echo "export PATH=/usr/local/go/bin/:~/go/bin:$PATH" >> $BASH_ENV

      - run:
          name: gomobile android build
          command: |
            env && cd ../../gomobile && make core.build.android

      - restore_cache:
          key: android-gems-{{ checksum "~/go/src/github.com/berty/berty/client/react-native/mobile/android/Gemfile.lock" }}

      - run:
          name: install bundle
          command: bundle check || bundle install --path vendor/bundle

      - save_cache:
          key: android-gems-{{ checksum "~/go/src/github.com/berty/berty/client/react-native/mobile/android/Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: build app
          command: |
            time bundle exec fastlane android beta

  client.rn.ios:
    working_directory: ~/go/src/github.com/berty/berty
    macos:
      xcode: "9.0"
    steps:
      - restore_cache:
          key: ios-golang-{{ .Environment.GOVERSION }}-2

      - run:
          name: install-go
          command: |
            if [ ! -f ~/go-install/go/bin/go ]; then
              cd ~ && git clone https://github.com/udhos/update-golang
              cd ~/update-golang && mkdir ~/go-install && sudo DESTINATION=~/go-install ./update-golang.sh
            fi
            echo "export PATH=~/go-install/go/bin/:~/go/bin:$PATH" >> $BASH_ENV

      - run:
          name: install gomobile
          command: |
            if [ ! -f ~/go/bin/gomobile ]; then
              go get golang.org/x/mobile/cmd/gomobile
              cd ~/go/src/golang.org/x/mobile
              git remote add upstream git@github.com:sfroment/mobile
              git fetch upstream
              git cherry-pick 1b1535a2ec50640fac08cd318cf1d557e198e94d
              go install golang.org/x/mobile/cmd/gomobile
              gomobile init
            fi

      - save_cache:
          key: ios-golang-{{ .Environment.GOVERSION }}-2
          paths:
            - ~/go
            - ~/go-install

      - checkout

      - run:
          name: install core
          working_directory: ~/go/src/github.com/berty/berty/client/react-native/gomobile
          command: |
            make core.build.ios


workflows:
  version: 2
  commit:
    jobs:
      - lint
      - core.go.test
      - docker.build
      - client.rn.node
      - client.rn.android:
          requires:
            - client.rn.node
      - client.rn.ios
