version: 2

.golang_workspace: &golang_workspace
  working_directory: /go/src/github.com/berty/berty
  environment:
    GOPATH: /go
    GOTEST_TIMEOUT: 1m
  docker:
    - image: circleci/golang:latest

jobs:
  project.lint:
    <<: *golang_workspace
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-go-cache
      - run:
          name: prepare CI
          command: |
            (cd core; make _ci_prepare)
            go get -u gopkg.in/alecthomas/gometalinter.v2
            gometalinter.v2 -i -u
      - run:
          name: lint
          command: make lint
      - save_cache:
          key: v1-go-cache
          paths:
            - "/go/pkg"

  core.go.test:
    <<: *golang_workspace
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-go-cache
      - run:
          name: prepare CI
          command: |
            (cd core; make _ci_prepare)
            mkdir -p /tmp/test-results
            go get github.com/jstemmer/go-junit-report
      - run:
          name: install openssl 1.0.x
          command: |
            sudo apt-get update
            sudo apt-get install libssl1.0-dev
      #- run:
      #    name: install core
      #    command: |
      #      cd core
      #      make install
      - run:
          name: test core
          command: |
            cd core
            make test | tee /tmp/test-results/go-test-report.out
      - run:
          name: junit-report
          command: |
            go-junit-report < /tmp/test-results/go-test-report.out > /tmp/test-results/go-test-report.xml
      - save_cache:
          key: v1-go-cache
          paths:
            - "/go/pkg"
      - store_test_results:
          path: /tmp/test-results

workflows:
  version: 2
  commit:
    jobs:
      - project.lint
      - core.go.test
