<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>{{ launchd_service.name }}</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-ilc</string>
      <string>"{{ runner_folder }}/run.sh"</string>
    </array>
    <key>StandardOutPath</key>
    <string>{{ runner_folder }}/logs/run.stdout</string>
    <key>StandardErrorPath</key>
    <string>{{ runner_folder }}/logs/run.stderr</string>
    <key>UserName</key>
    <string>{{ ansible_user }}</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>WorkingDirectory</key>
    <string>{{ runner_folder }}</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>ACTIONS_RUNNER_SVC</key>
      <string>1</string>
    </dict>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>SessionCreate</key>
    <true/>
  </dict>
</plist>
