{
  "presets": [
    "@babel/preset-env",
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [ "@babel/plugin-proposal-decorators", { "legacy": true } ],
    "@babel/plugin-syntax-export-namespace-from",
    "@babel/plugin-proposal-async-generator-functions",
    "transform-export-extensions",
    "transform-inline-environment-variables"
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
