{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "standard",
    "standard-react",
    "react-app"
  ],
  "plugins": [
    "jsx-a11y",
    "react",
    "prettier",
    "promise",
    "import",
    "standard",
    "dependencies"
  ],
  "rules": {
    "import/no-cycle": "warn",
    "no-console": "off",
    "linebreak-style": "off",
    "comma-dangle": ["warn",
      "always-multiline"
    ],
    "no-multi-spaces": "off",
    "no-unused-vars": "warn",
    "react/prop-types": "off",
    "react/display-name": "warn",
    "react/no-unused-prop-types": "off",
    "react/jsx-indent": "off",
    "no-invalid-this": "off",
    "func-style": "off",
    "class-methods-use-this": "off",
    "require-jsdoc": "off",
    "jsx-a11y/href-no-hash": "off",
    "dependencies/no-cycles": 1,
    "dependencies/no-unresolved": 1,

    "react/self-closing-comp": "warn",
    "for-direction": "warn",
    "getter-return": "warn",
    "no-await-in-loop": "warn",
    "no-compare-neg-zero": "warn",
    "no-cond-assign": "warn",
    "no-constant-condition": "warn",
    "no-control-regex": "warn",
    "no-debugger": "warn",
    "no-dupe-args": "warn",
    "no-dupe-keys": "warn",
    "no-duplicate-case": "warn",
    "no-empty": "warn",
    "no-empty-character-class": "warn",
    "no-ex-assign": "warn",
    "no-extra-boolean-cast": "warn",
    "no-extra-parens": "warn",
    "no-extra-semi": "warn",
    "no-func-assign": "warn",
    "no-inner-declarations": "warn",
    "no-invalid-regexp": "warn",
    "no-irregular-whitespace": "warn",
    "no-obj-calls": "warn",
    "no-prototype-builtins": "warn",
    "no-regex-spaces": "warn",
    "no-sparse-arrays": "warn",
    "no-template-curly-in-string": "warn",
    "no-unexpected-multiline": "warn",
    "no-unreachable": "warn",
    "no-unsafe-finally": "warn",
    "no-unsafe-negation": "warn",
    "use-isnan": "warn",
    "valid-jsdoc": "warn",
    "valid-typeof": "warn",
    "accessor-pairs": "warn",
    "array-callback-return": "warn",
    "block-scoped-var": "warn",
    "complexity": "warn",
    "consistent-return": "warn",
    "curly": "warn",
    "default-case": "warn",
    "dot-location": "warn",
    "dot-notation": "warn",
    "eqeqeq": "warn",
    "guard-for-in": "warn",
    "max-classes-per-file": "warn",
    "no-alert": "warn",
    "no-caller": "warn",
    "no-case-declarations": "warn",
    "no-div-regex": "warn",
    "no-else-return": "warn",
    "no-empty-function": "warn",
    "no-empty-pattern": "warn",
    "no-eq-null": "warn",
    "no-eval": "warn",
    "no-extend-native": "warn",
    "no-extra-bind": "warn",
    "no-extra-label": "warn",
    "no-fallthrough": "warn",
    "no-floating-decimal": "warn",
    "no-global-assign": "warn",
    "no-implicit-coercion": "warn",
    "no-implicit-globals": "warn",
    "no-implied-eval": "warn",
    "no-iterator": "warn",
    "no-labels": "warn",
    "no-lone-blocks": "warn",
    "no-loop-func": "warn",
    "no-magic-numbers": "warn",
    "no-multi-str": "warn",
    "no-new": "warn",
    "no-new-func": "warn",
    "no-new-wrappers": "warn",
    "no-octal": "warn",
    "no-octal-escape": "warn",
    "no-param-reassign": "warn",
    "no-proto": "warn",
    "no-redeclare": "warn",
    "no-restricted-properties": "warn",
    "no-return-assign": "warn",
    "no-return-await": "warn",
    "no-script-url": "warn",
    "no-self-assign": "warn",
    "no-self-compare": "warn",
    "no-sequences": "warn",
    "no-throw-literal": "warn",
    "no-unmodified-loop-condition": "warn",
    "no-unused-expressions": "warn",
    "no-unused-labels": "warn",
    "no-useless-call": "warn",
    "no-useless-concat": "warn",
    "no-useless-escape": "warn",
    "no-useless-return": "warn",
    "no-void": "warn",
    "no-warning-comments": "warn",
    "no-with": "warn",
    "prefer-promise-reject-errors": "warn",
    "radix": "warn",
    "require-await": "warn",
    "vars-on-top": "warn",
    "wrap-iife": "warn",
    "yoda": "warn",
    "strict": "warn",
    "init-declarations": "warn",
    "no-catch-shadow": "warn",
    "no-delete-var": "warn",
    "no-label-var": "warn",
    "no-restricted-globals": "warn",
    "no-shadow": "warn",
    "no-shadow-restricted-names": "warn",
    "no-undef": "warn",
    "no-undef-init": "warn",
    "no-undefined": "warn",
    "no-use-before-define": "warn",
    "callback-return": "warn",
    "global-require": "warn",
    "handle-callback-err": "warn",
    "no-buffer-constructor": "warn",
    "no-mixed-requires": "warn",
    "no-new-require": "warn",
    "no-path-concat": "warn",
    "no-process-env": "warn",
    "no-process-exit": "warn",
    "no-restricted-modules": "warn",
    "no-sync": "warn",
    "array-bracket-newline": "warn",
    "array-bracket-spacing": "warn",
    "array-element-newline": "warn",
    "block-spacing": "warn",
    "brace-style": "warn",
    "camelcase": "warn",
    "capitalized-comments": "warn",
    "comma-spacing": "warn",
    "comma-style": "warn",
    "computed-property-spacing": "warn",
    "consistent-this": "warn",
    "eol-last": "warn",
    "func-call-spacing": "warn",
    "func-name-matching": "warn",
    "func-names": "warn",
    "function-paren-newline": "warn",
    "id-blacklist": "warn",
    "id-length": "warn",
    "id-match": "warn",
    "implicit-arrow-linebreak": "warn",
    "indent": "warn",
    "jsx-quotes": "warn",
    "key-spacing": "warn",
    "keyword-spacing": "warn",
    "line-comment-position": "warn",
    "lines-around-comment": "warn",
    "lines-between-class-members": "warn",
    "max-depth": "warn",
    "max-len": "warn",
    "max-lines": "warn",
    "max-nested-callbacks": "warn",
    "max-params": "warn",
    "max-statements": "warn",
    "max-statements-per-line": "warn",
    "multiline-comment-style": "warn",
    "multiline-ternary": "warn",
    "new-cap": "warn",
    "new-parens": "warn",
    "newline-per-chained-call": "warn",
    "no-array-constructor": "warn",
    "no-bitwise": "warn",
    "no-continue": "warn",
    "no-inline-comments": "off",
    "no-lonely-if": "warn",
    "no-mixed-operators": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-assign": "warn",
    "no-multiple-empty-lines": "warn",
    "no-negated-condition": "warn",
    "no-nested-ternary": "warn",
    "no-new-object": "warn",
    "no-plusplus": "warn",
    "no-restricted-syntax": "warn",
    "no-tabs": "warn",
    "no-ternary": "warn",
    "no-trailing-spaces": "warn",
    "no-underscore-dangle": "warn",
    "no-unneeded-ternary": "warn",
    "no-whitespace-before-property": "warn",
    "nonblock-statement-body-position": "warn",
    "object-curly-newline": "warn",
    "object-curly-spacing": "warn",
    "object-property-newline": "warn",
    "one-var": "warn",
    "one-var-declaration-per-line": "warn",
    "operator-assignment": "warn",
    "operator-linebreak": "warn",
    "padded-blocks": "warn",
    "padding-line-between-statements": "warn",
    "prefer-object-spread": "warn",
    "quote-props": "warn",
    "quotes": "warn",
    "semi": "warn",
    "semi-spacing": "warn",
    "semi-style": "warn",
    "sort-keys": "warn",
    "sort-vars": "warn",
    "space-before-blocks": "warn",
    "space-before-function-paren": "warn",
    "space-in-parens": "warn",
    "space-infix-ops": "warn",
    "space-unary-ops": "warn",
    "spaced-comment": "warn",
    "switch-colon-spacing": "warn",
    "template-tag-spacing": "warn",
    "unicode-bom": "warn",
    "wrap-regex": "warn",
    "arrow-body-style": "warn",
    "arrow-parens": "warn",
    "arrow-spacing": "warn",
    "constructor-super": "warn",
    "generator-star-spacing": "warn",
    "no-class-assign": "warn",
    "no-confusing-arrow": "warn",
    "no-const-assign": "warn",
    "no-dupe-class-members": "warn",
    "no-duplicate-imports": "warn",
    "no-new-symbol": "warn",
    "no-restricted-imports": "warn",
    "no-this-before-super": "warn",
    "no-useless-computed-key": "warn",
    "no-useless-constructor": "warn",
    "no-useless-rename": "warn",
    "no-var": "warn",
    "object-shorthand": "warn",
    "prefer-arrow-callback": "warn",
    "prefer-const": "warn",
    "prefer-destructuring": "warn",
    "prefer-numeric-literals": "warn",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "require-yield": "warn",
    "rest-spread-spacing": "warn",
    "sort-imports": "warn",
    "symbol-description": "warn",
    "template-curly-spacing": "warn",
    "yield-star-spacing": "warn",
  }
}
