{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "prettier",
    "standard",
    "standard-react",
    "react-app"
  ],
  "plugins": [
    "jsx-a11y",
    "react",
    "promise",
    "import",
    "dependencies"
  ],
  "rules": {
    "import/no-cycle": "warn",
    "no-console": "off",
    "linebreak-style": "off",
    "comma-dangle": ["warn",
      "always-multiline"
    ],
    "no-multi-spaces": "off",
    "no-unused-vars": "warn",
    "react/prop-types": "off",
    "react/display-name": "warn",
    "react/no-unused-prop-types": "off",
    "react/jsx-indent": "off",
    "no-invalid-this": "off",
    "func-style": "off",
    "class-methods-use-this": "off",
    "require-jsdoc": "off",
    "jsx-a11y/href-no-hash": "off",
    "dependencies/no-cycles": 1,
    "dependencies/no-unresolved": 1,
    "semi": ["error", "never"],
    "padded-blocks": ["error", "never"],
    "lines-between-class-members": ["error", "always"]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
