{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "standard",
    "standard-react",
    "react-app"
  ],
  "plugins": [
    "jsx-a11y",
    "react",
    "prettier",
    "promise",
    "import",
    "standard"
  ],
  "rules": {
    "no-console": "off",
    "linebreak-style": "off",
    "comma-dangle": ["error",
      "always-multiline"
    ],
    "no-multi-spaces": "off",
    "no-unused-vars": "error",
    "react/prop-types": "off",
    "react/display-name": "warn",
    "react/no-unused-prop-types": "off",
    "react/jsx-indent": "off",
    "no-invalid-this": "off",
    "func-style": "off",
    "class-methods-use-this": "off",
    "require-jsdoc": "off",
    "jsx-a11y/href-no-hash": "off"
  }
}
