name: Android
on:
  push:
    tags:
      - v*
    branches:
      - master
    paths:
      - 'go/**'
      - '!go/**.md'
      - 'go.*'
      - '**.go'
      - 'js/**'
      - '.github/workflows/android.yml'
  pull_request:
    paths:
      - 'go/**'
      - '!go/**.md'
      - 'go.*'
      - '**.go'
      - 'js/**'
      - '!js/packages/berty-i18n/locale/*/*.json'
      - '.github/workflows/android.yml'

jobs:
  build:
    name: Build for Android
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}  # see https://github.com/actions/checkout/issues/299

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x

      - name: Setup Node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x

      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Cache Node modules
        uses: actions/cache@v2
        with:
          path: js/node_modules
          key: ${{ runner.OS }}-node-v4-${{ hashFiles('js/yarn.lock') }}
          restore-keys: ${{ runner.OS }}-node-v4-

      - name: Cache Gomobile .aar
        uses: actions/cache@v2
        with:
          path: js/android/libs/gobridge.aar
          key: android-gomobile-${{ hashFiles('go/**/*.go', 'go.sum') }}
          restore-keys: android-gomobile-

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build .env
        run: cat tool/build/shakebugs-infos/env.prod >> js/.env

      - name: Build the APK
        working-directory: js
        env:
          CI: "true"
        run: |
          make android.app_deps
          (yarn jetify && cd android && ./gradlew app:bundleReleaseYolo)
          ### TODO: move this part on Yolo and use release keystore ###
          mkdir -p $HOME/.android
          cp android/app/debug.keystore $HOME/.android
          wget \
            https://github.com/google/bundletool/releases/download/1.2.0/bundletool-all-1.2.0.jar \
            -O /tmp/bundletool.jar
          java -jar /tmp/bundletool.jar build-apks \
            --bundle=android/app/build/outputs/bundle/releaseYolo/app-releaseYolo.aab \
            --output=${{ github.workspace }}/app.apks \
            --mode=universal
          cd ${{ github.workspace }} && unzip app.apks
          ################################################

      - name: Upload the APK
        uses: actions/upload-artifact@v2
        with:
          path: ${{ github.workspace }}/universal.apk
          name: berty-universal-${{github.sha}}.apk
          if-no-files-found: error
