name: Android
on:
  push:
    tags:
      - v*
    branches:
      - master
    paths:
      - "go/**"
      - "!go/**.md"
      - "go.*"
      - "**.go"
      - "berty-bridge-expo/**"
      - ".github/workflows/android.yml"
  pull_request:
    paths:
      - "go/**"
      - "!go/**.md"
      - "go.*"
      - "**.go"
      - "berty-bridge-expo/**"
      - "!berty-bridge-expo/mobile/src/i18n/locale/*/*.json"
      - ".github/workflows/android.yml"

jobs:
  build:
    name: Build for Android
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup asdf
        uses: asdf-vm/actions/setup@9cd779f40fe38688dd19505ccbc4eaaf018b44e7
        with:
          asdf_version: 0.16.7

      - name: Setup go
        run: |
          asdf plugin add golang
          asdf install golang
          echo "GO_VERSION=$(asdf current golang | xargs | cut -d ' ' -f 6)" >> $GITHUB_ENV

      - name: Setup node
        working-directory: js
        run: |
          asdf plugin add nodejs
          asdf install nodejs
          echo "NODE_VERSION=$(asdf current nodejs | xargs | cut -d ' ' -f 6)" >> $GITHUB_ENV

      - name: Set nodejs as global exec
        run: |
          asdf set -u nodejs ${{ env.NODE_VERSION }}

      - name: Setup yarn
        working-directory: js
        run: |
          asdf plugin add yarn
          asdf install yarn

      - name: Setup java
        working-directory: js
        run: |
          asdf plugin add java
          asdf install java

      - name: Cache go modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('go/**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-${{ env.GO_VERSION }}-

      - name: Cache expo module node modules
        uses: actions/cache@v4
        with:
          path: berty-bridge-expo/node_modules
          key: ${{ runner.OS }}-node-${{ env.NODE_VERSION }}-berty-bridge-expo-${{ hashFiles('berty-bridge-expo/package-lock.json') }}
          restore-keys: ${{ runner.OS }}-node-${{ env.NODE_VERSION }}-berty-bridge-expo-

      - name: Cache app node modules
        uses: actions/cache@v4
        with:
          path: berty-bridge-expo/mobile/node_modules
          key: ${{ runner.OS }}-node-${{ env.NODE_VERSION }}-mobile-${{ hashFiles('berty-bridge-expo/mobile/package-lock.json') }}
          restore-keys: ${{ runner.OS }}-node-${{ env.NODE_VERSION }}-mobile-

      - name: Cache gobridge aar
        uses: n0izn0iz/mkache@5cedaeaf0b39a9220ae5a815cac8d2a924cee3ef
        if: github.ref != 'refs/heads/master' # this makes sure the VCS_REF is correct on master
        with:
          rule: android/libs/gobridge.aar
          makefile: berty-bridge-expo/Makefile
          key: android-gomobile-bridge-${{ matrix.golang }}

      - name: Fetch expo module node modules
        working-directory: berty-bridge-expo
        run: make node_modules

      - name: Fetch app node modules
        working-directory: berty-bridge-expo/mobile
        run: make node_modules

      - name: Build gobridge aar
        working-directory: berty-bridge-expo
        run: make android.gomobile

      - name: Build the AAB
        working-directory: berty-bridge-expo/mobile
        run: |
          npx eas-cli build -p android --non-interactive --local --output=${{ github.workspace }}

      - name: Upload the AAB
        working-directory: berty-bridge-expo/mobile
        run: |
          npx eas-cli upload -p android --non-interactive --local --build-path=${{ github.workspace }}
