name: Android
on:
  push:
    tags:
      - v*
    branches:
      - master
    paths:
      - "go/**"
      - "!go/**.md"
      - "go.*"
      - "**.go"
      - "js/**"
      - ".github/workflows/android.yml"
  pull_request:
    paths:
      - "go/**"
      - "!go/**.md"
      - "go.*"
      - "**.go"
      - "js/**"
      - "!js/packages/i18n/locale/*/*.json"
      - ".github/workflows/android.yml"

jobs:
  build:
    name: Build for Android
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang: ["1.16.x"]
        node: ["14.x"]
        java: ["1.8"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }} # see https://github.com/actions/checkout/issues/299

      - name: Load variables from file
        uses: antifree/json-to-variables@v1.0.1
        with:
          filename: .github/workflows/utils/variables.json

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.golang }}

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Cache Go modules
        uses: actions/cache@v2.1.6
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.golang }}-${{ env.json_cache-version_go }}-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-${{ matrix.golang }}-${{ env.json_cache-version_go }}-

      - name: Cache Node modules
        uses: actions/cache@v2.1.6
        with:
          path: js/node_modules
          key: ${{ runner.OS }}-node-${{ matrix.node }}-${{ env.json_cache-version_node }}-${{ hashFiles('js/yarn.lock') }}
          restore-keys: ${{ runner.OS }}-node-${{ matrix.node }}-${{ env.json_cache-version_node }}-

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Cache Gomobile .aar
        uses: n0izn0iz/mkache@5cedaeaf0b39a9220ae5a815cac8d2a924cee3ef
        if: github.ref != 'refs/heads/master' # this makes sure the VCS_REF is correct on master
        with:
          rule: android/libs/gobridge.aar
          makefile: js/Makefile
          key: android-gomobile-bridge-${{ matrix.golang }}

      - name: Build Gomobile .aar
        working-directory: js
        run: make android.gomobile

      - name: Build the APK
        working-directory: js
        env:
          CI: "true"
        run: |
          make android.app_deps
          (yarn jetify && cd android && ./gradlew -i app:bundleReleaseYolo)
          ### TODO: move this part on Yolo and use release keystore ###
          mkdir -p $HOME/.android
          cp android/app/debug.keystore $HOME/.android
          wget \
            https://github.com/google/bundletool/releases/download/1.8.2/bundletool-all-1.8.2.jar \
            -O /tmp/bundletool.jar
          java -jar /tmp/bundletool.jar build-apks \
            --bundle=android/app/build/outputs/bundle/releaseYolo/app-releaseYolo.aab \
            --output=${{ github.workspace }}/app.apks \
            --mode=universal
          cd ${{ github.workspace }} && unzip app.apks
          ################################################

      - name: Upload the APK
        uses: actions/upload-artifact@v2
        with:
          path: ${{ github.workspace }}/universal.apk
          name: berty-universal-${{github.sha}}.apk
          if-no-files-found: error
