name: Go
on:
  push:
    tags:
      - v*
    branches:
      - master
    paths:
      - "go/**"
      - "!go/**.md"
      - "go.*"
      - "**.go"
      - ".github/workflows/go.yml"
  pull_request:
    paths:
      - "go/**"
      - "!go/**.md"
      - "go.*"
      - "**.go"
      - ".github/workflows/go.yml"

jobs:
  golangci-lint:
    name: "GolangCI-lint"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang:
          - 1.17.x
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.golang }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.1.0
        with:
          go-version: ${{ matrix.golang }}
          version: v1.44.2
          working-directory: go
          args: --timeout=10m
          # only-new-issues: true

  # this is not very common to have a job that checks the flappy tests.
  #
  # reason: some tests are flappy, they works, but not always;
  #         this job checks that they are working sometimes.
  #         if this job fails, then a test is "broken", not "flappy".
  #
  #         summary: this job checks that "flappy tests" do not become "broken tests".
  #
  # we hope we can remove this job because all the tests are stable 100% of the time
  flappy-tests:
    name: "Flappy tests (Linux)"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang: ['1.17.x']
    env:
      OS: ubuntu-latest
      GOLANG: ${{ matrix.golang }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Load variables from file
        uses: antifree/json-to-variables@v1.0.1
        with:
          filename: .github/workflows/utils/variables.json
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.golang }}
      - name: Cache Go modules
        uses: actions/cache@v2.1.6
        with:
          path: ~/go/pkg/mod
          key:          ${{ runner.os }}-go-${{ matrix.golang }}-${{ env.json_cache-version_go }}-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-${{ matrix.golang }}-${{ env.json_cache-version_go }}-
      - name: Avoid triggering make generate
        run: touch go/gen.sum
      - name: Fetch dependencies
        run: go mod download
      - name: Compile the testing binaries
        run: |
          pushd ./go/pkg/bertyprotocol  && go test -c -o ./tests.bin . && popd
          pushd ./go/pkg/bertymessenger && go test -tags "fts5 sqlite sqlite_unlock_notify" -c -o ./tests.bin . && popd
      - name: Check go.mod and go.sum
        run: |
          go mod tidy -v
          git --no-pager diff go.mod go.sum
          git --no-pager diff --quiet go.mod go.sum
      - name: Run fast flappy tests
        working-directory: go
        env:
          TEST_SPEED: fast
          TEST_STABILITY: flappy
        run: make go.flappy-tests
      # FIXME: coverage

  go-tests-on-linux:
    name: "Stable tests (linux)"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang:
          - 1.16.x
          - 1.17.x
          #- tip
    env:
      OS: ubuntu-latest
      GOLANG: ${{ matrix.golang }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Load variables from file
        uses: antifree/json-to-variables@v1.0.1
        with:
          filename: .github/workflows/utils/variables.json
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.golang }}
      - name: Cache Go modules
        uses: actions/cache@v2.1.6
        with:
          path: ~/go/pkg/mod
          key:          ${{ runner.os }}-go-${{ matrix.golang }}-${{ env.json_cache-version_go }}-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-${{ matrix.golang }}-${{ env.json_cache-version_go }}-
      - name: Compile the project on Unix-like operating systems
        working-directory: go
        run: |
          touch gen.sum # avoid triggering make generate
          make go.install
      - name: Check go.mod and go.sum
        run: |
          go mod tidy -v
          git --no-pager diff go.mod go.sum
          git --no-pager diff --quiet go.mod go.sum
      - name: Run fast tests multiple times
        working-directory: go
        env:
          TEST_SPEED: fast
          GO_TEST_OPTS: -test.timeout=600s -count 1 -tags "fts5 sqlite sqlite_unlock_notify"
        run: set -o pipefail; make go.unittest | tee test_log.txt
      - name: Run all tests
        working-directory: go
        env:
          TEST_SPEED: any
          GO_TEST_OPTS: -test.timeout=600s -count 1 -tags "fts5 sqlite sqlite_unlock_notify"
        run: make go.unittest
      - name: Run all tests with race flag and generate coverage
        working-directory: go
        env:
          TEST_SPEED: any
          GO_TEST_OPTS: -test.timeout=1200s -count=1 -race -cover -tags "fts5 sqlite sqlite_unlock_notify" -coverprofile=coverage.txt -covermode=atomic
        run: make go.unittest
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          file: ./go/coverage.txt
          flags: go.unittests
          env_vars: OS,GOLANG
          name: codecov-umbrella
          fail_ci_if_error: false

  go-tests-on-windows:
    name: "Stable tests (windows)"
    runs-on: windows-latest
    strategy:
      matrix:
        golang: ['1.17.x']
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Load variables from file
        uses: antifree/json-to-variables@v1.0.1
        with:
          filename: .github/workflows/utils/variables.json
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.golang }}
      - name: Cache Go modules
        uses: actions/cache@v2.1.6
        with:
          path: ~/go/pkg/mod
          key:          ${{ runner.os }}-go-${{ matrix.golang }}-${{ env.json_cache-version_go }}-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-${{ matrix.golang }}-${{ env.json_cache-version_go }}-
      - name: Compile the project on Windows
        run: go.exe install -buildmode=exe ./go/cmd/...
      - name: Check go.mod and go.sum
        run: |
          go mod tidy -v
          git --no-pager diff go.mod go.sum
          git --no-pager diff --quiet go.mod go.sum
      - name: Run fast tests multiple times
        working-directory: go
        env:
          TEST_SPEED: fast
        run: go.exe test ./... -tags "fts5 sqlite sqlite_unlock_notify" -buildmode=exe -timeout=600s -count=5
      - name: Run all tests
        working-directory: go
        env:
          TEST_SPEED: any
        run: go.exe test ./... -tags "fts5 sqlite sqlite_unlock_notify" -buildmode=exe -timeout=600s -count=1
      # broken
      #- name: Run all tests with race flag and generate coverage
      #  working-directory: go
      #  env:
      #    TEST_SPEED: any
      #  run: go.exe test ./... -buildmode=exe -v -timeout=1200s -count=1 -tags "fts5 sqlite sqlite_unlock_notify" -race -cover -coverprofile=coverage.txt -covermode=atomic
      #- name: Upload coverage to Codecov
      #  uses: codecov/codecov-action@v2.1.0
      #  with:
      #    file: ./coverage.txt
      #    flags: unittests
      #    env_vars: OS,GOLANG
      #    name: codecov-umbrella
      #    fail_ci_if_error: false

  go-tests-on-macos:
    name: "Stable tests (macos)"
    runs-on: macos-latest
    strategy:
      matrix:
        golang: ['1.17.x']
    env:
      OS: macos-latest
      GOLANG: ${{ matrix.golang }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Load variables from file
        uses: antifree/json-to-variables@v1.0.1
        with:
          filename: .github/workflows/utils/variables.json
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.golang }}
      - name: Cache Go modules
        uses: actions/cache@v2.1.6
        with:
          path: ~/go/pkg/mod
          key:          ${{ runner.os }}-go-${{ matrix.golang }}-${{ env.json_cache-version_go }}-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-${{ matrix.golang }}-${{ env.json_cache-version_go }}-
      - name: Compile the project on Unix-like operating systems
        working-directory: go
        run: |
          touch gen.sum # avoid triggering make generate
          make go.install
      - name: Check go.mod and go.sum
        run: |
          go mod tidy -v
          git --no-pager diff go.mod go.sum
          git --no-pager diff --quiet go.mod go.sum
      - name: Run fast tests multiple times
        working-directory: go
        env:
          TEST_SPEED: fast
          GO_TEST_OPTS: -test.timeout=600s -count 1 -tags "fts5 sqlite sqlite_unlock_notify"
        run: set -o pipefail; make go.unittest | tee test_log.txt
      - name: Run all tests
        working-directory: go
        env:
          TEST_SPEED: any
          GO_TEST_OPTS: -test.timeout=600s -count 1 -tags "fts5 sqlite sqlite_unlock_notify"
        run: make go.unittest
      - name: Run all tests with race flag and generate coverage
        working-directory: go
        env:
          TEST_SPEED: any
          GO_TEST_OPTS: -test.timeout=1200s -count=1 -race -cover -tags "fts5 sqlite sqlite_unlock_notify" -coverprofile=coverage.txt -covermode=atomic
        run: make go.unittest
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          file: ./go/coverage.txt
          flags: go.unittests
          env_vars: OS,GOLANG
          name: codecov-umbrella
          fail_ci_if_error: false

  # TODO: consider adding various GOARCH check per OS.
  #       i.e., to validate that we build on 32/64bit.
