name: "Paths: js/**"
on:
  push:
    paths:
    - 'js/**'

jobs:
  js-generate:
    name: "Js: Check generation"
    runs-on: ubuntu-latest
    container:
      image: bertytech/protoc:21
    steps:
      - name: Checkout
        uses: actions/checkout@master
      # TODO: cache
      - run: cd js && make gen.clean gen
      - run: |
          git status | cat
          git diff -w | cat
          git diff-index -w --quiet HEAD --

  js-lint:
    name: "Js: Lint"
    runs-on: ubuntu-latest
    container:
      image: bertytech/protoc:21
    steps:
      - name: Checkout
        uses: actions/checkout@master
      # TODO: cache
      - run: cd js && make lint
