name: Protobuf
on:
  push:
    tags:
      - v*
    branches:
      - master
    paths:
      - "api/**"
      - "Makefile"
      - "js/Makefile"
      - "go/Makefile"
      - "config/**"
      - "docs/Makefile"
      - ".github/workflows/protobuf.yml"
      - "js/packages/berty-i18n/locale/en/messages.json"
      - "tool/generate-i18n-testlang"
      - "**/gen.sum"
      - "**.pb.go"
      - "**.gen.go"
      - "**.gen.graphql"
      - "**.gen.js"
      - "**.gen.ts"
      - "**.gen.tsx"
      - "**.gen.yml"
      - "**.pb.d.ts"
      - "**.pb.go"
      - "**.pb.js"
      - "**/pb_test.go"
      - "**/docs/*/api.md"
      - "**/gen.sum"
      - "**/go.mod"
      - "**/go.sum"
      - "**/yarn.lock"
      - "**/package.json"
      - "**/Podfile.lock"
  pull_request:
    paths:
      - "api/**"
      - "Makefile"
      - "js/Makefile"
      - "go/Makefile"
      - "config/**"
      - "docs/Makefile"
      - ".github/workflows/protobuf.yml"
      - "js/packages/berty-i18n/locale/en/messages.json"
      - "tool/generate-i18n-testlang"
      - "**/gen.sum"
      - "**.pb.go"
      - "**.gen.go"
      - "**.gen.graphql"
      - "**.gen.js"
      - "**.gen.ts"
      - "**.gen.tsx"
      - "**.gen.yml"
      - "**.pb.d.ts"
      - "**.pb.go"
      - "**.pb.js"
      - "**/pb_test.go"
      - "**/docs/*/api.md"
      - "**/gen.sum"
      - "**/go.mod"
      - "**/go.sum"
      - "**/yarn.lock"
      - "**/package.json"
      - "**/Podfile.lock"
jobs:
  gen-go-and-docs:
    runs-on: ubuntu-latest
    container: bertytech/protoc:27
    steps:
      - name: checkout
        uses: actions/checkout@v2.3.4
      - name: unshallow
        run: git fetch --prune --unshallow
      - name: remove lock files
        run: find . -name gen.sum ! -path './js/*' -delete
      - name: preload common deps
        run: go mod download
      - name: generating docs/
        run: |
          cd docs
          make generate_local
      - name: generating go/
        run: |
          cd go
          make generate_local
          cd ..
          git checkout go.mod go.sum
      - name: check diff
        run: |
          git status | cat
          git diff -w | cat
          git diff-index -w --quiet HEAD --
      - name: install jq
        run: |
          wget https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64 -O /usr/local/bin/jq
          chmod +x /usr/local/bin/jq
      - name: prepare openapi documentation
        run: cd docs && make openapi.prepare
      - name: install apiary
        run: apk --no-cache add ruby-dev g++ && gem install apiaryio
      - name: upload API docs to apiary.io
        env:
          APIARY_API_KEY: "${{ secrets.APIARY_API_KEY }}"
        if: ${{ env.APIARY_API_KEY != 0 }}
        run: |
          apiary publish --api-name=bertyprotocol  --path="docs/.tmp/openapi/bertyprotocol.swagger.json"  || true
          apiary publish --api-name=bertymessenger --path="docs/.tmp/openapi/bertymessenger.swagger.json" || true
      #- name: deploy protocol API documentation on bump.sh
      #  uses: bump-sh/github-action@0.1
      #  env:
      #    BUMP_TOKEN: "${{ secrets.BUMP_TOKEN }}"
      #  if: ${{ env.BUMP_TOKEN != 0 }}
      #  with:
      #    id: 6eb1bb1e-c65d-4b73-a8c4-0e545742f6db
      #    token: ${{ secrets.BUMP_TOKEN }}
      #    file: docs/.tmp/openapi/bertyprotocol.swagger.json
      #- name: deploy messenger API documentation on bump.sh
      #  uses: bump-sh/github-action@0.1
      #  env:
      #    BUMP_TOKEN: "${{ secrets.BUMP_TOKEN }}"
      #  if: ${{ env.BUMP_TOKEN != 0 }}
      #  with:
      #    id: f3c48f1c-2b5b-4d3f-9ddb-40f6cf09b905
      #    token: ${{ secrets.BUMP_TOKEN }}
      #    file: docs/.tmp/openapi/bertymessenger.swagger.json
  gen-js:
    strategy:
      matrix:
        node: [14.x]
    runs-on: ubuntu-latest
    container: bertytech/protoc:27
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2.2.0
        with:
          node-version: ${{ matrix.node }}

      - run: make gen.clean
        working-directory: js

      - name: Cache Node.js modules
        uses: actions/cache@v2.1.6
        with:
          path: js/node_modules
          key:          ${{ runner.OS }}-genjs-${{ matrix.node}}-v2-${{ hashFiles('js/yarn.lock') }}
          restore-keys: ${{ runner.OS }}-genjs-${{ matrix.node}}-v2-

      - name: "Fetch deps"
        # FIXME: find a way of only downloading the required packages or install them directly in the bertytech/protoc image
        run: make node_modules
        working-directory: js
        env:
          CI: true

      - name: Preload Go vendors
        run: go mod download

      - run: make _gen.pbjs
        working-directory: js

      - run: make _write_gen_sum
        working-directory: js

      - run: rm -f gen.sum && make generate
        working-directory: js

      - name: check diff
        run: |
          go mod tidy
          git status | cat
          git diff -w | cat
          git diff-index -w --quiet HEAD --
